@import 'leaflet/dist/leaflet.css';

:root {
  font-family: 'Roboto', sans-serif;
  color: #0f172a;
  background-color: #f5f5f5;
  --primary: #1d4ed8;
  --danger: #ef4444;
  --success: #10b981;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

button {
  font-family: inherit;
}

.leaflet-container {
  height: 100%;
}
